<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="player-bundle.js"></script>
    
</head>
<body>
    <button onclick="play()">Play</button>
    <button onclick="pause()">Pause</button>
    Volume: <input type="range" min="0" max="100" value="80" class="slider" id="volume-range">
  </body>
  <script>
      var volume = document.getElementById("volume-range");
      volume.oninput = function () {
          setVolume(this.value);
      }
</script>
</html>